<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{box-sizing: border-box;
        margin: 0;
        padding: 0;}
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;            
            height: 100vh;
            background-color: #333;
            color: rgba(100, 200, 200, 0.4);
        }
        h1{
            font-size: 20rem;
            font-weight: 900;
        }
        
    </style>
</head>
<body>
<h1>404</h1>
<h2>{{error.message}}</h2>
    
</body>
</html>