<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- STYLES --}}
    <link rel="stylesheet" href="../style/css/admin-login.css">
    {{!-- SCRIPT --}}
    <script type="module" src="../../script/admin/adminAuth.js" defer></script>

  
</head>
<body>
    <div id="auth-modal" class="modal">
        
        <div id="auth-container">       
        
        <form action="" id="admin-login">
                <h1>Book Shelf</h1>
                <br>
                <fieldset>
                    <legend>Administrator Login</legend>
                    <input type="email" placeholder="email"><input type="password" placeholder="password">
                    <input type="submit" value="Login">
                </fieldset>
            </form>

    </div>
    </div>
 
</body>
</html>