


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
     {{>General_style}}
         {{!-- <script src="../../script/header.js" type="module" defer></script> --}}
          <script src="../../script/handlebars-script/searchAndPagination.js" defer></script>
                 <script src="../../script/handlebars-script/addBookToCart.js" type="module" defer></script>
                

    {{!-- <script src="./script/getBooks.js" type="module" defer></script> --}}

  
    <title>Book shelf</title>
</head>
<body>
    <header>
        {{>headerUser}}
    </header>
    <main>
    {{>searchContainer}}
    {{>bookSearch_user}}
    {{>pagination}}
    </main>

</body>
</html>

