

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
 {{>General_style}}




    <script src="../../script/handlebars-script/profileButtons.js" defer></script>

    <script src="../../script/handlebars-script/profileUpdate.js" defer type="module"></script>
</head>
<body>
   

    {{>header}}
 
{{>profile_block}}

<script>
    
    if(document.getElementById("add-book-btn")){

    const addBtn = document.getElementById("add-book-btn");
addBtn.style.display = "none";
    }
</script>

</body>
</html>