<div id="icons-container">
    <div id="profile-header" class="authenticate">
        {{#if user}}
        <div id="profile-icon" class="icon" >
            <span class="circle">
        
            </span>
            <span class="curve">
        
            </span>
        </div>
        <a id="header-username">
            
                {{user.firstName}} {{user.lastName}}
            {{/if}}
            {{#unless user}}
                <a href="/login">Login</a>
            {{/unless}}
        </a>
        {{#if user}}
        <a href="/users/logout" id="logout-link">
            <button class="icon-img-btn" id="logout-btn">
            </button>
        </a>
        {{/if}}
    </div>
    <h1 id="logo"><a href="/" style="all:inherit;">Book Shelf</a></h1>
    <div id="cart-header">

        <a href="http://localhost:3000/user/cart">
        <button class="icon-img-btn" id="cart-btn"></button>
        </a>
        <!-- <div id="nav-icon" class="icon">
                <span></span><span></span><span></span>
        </div> -->
    </div>
</div>


