
    <header>

<div id="icons-container">
    <div id="profile-header" class="authenticate ">

        <a href="/admin/profile">
            <div id="profile-icon" class="icon admin" >
                <span class="circle">
            
                </span>
                <span class="curve">
            
                </span>
            </div>
        </a>
        {{!-- <a id="header-username admin">
            {{username}}
        </a> --}}
        <button id="logout-btn" class="admin icon-img-btn">

        </button>
    </div>
    <h1><a href="/admin" style="all:inherit;">Book Shelf Admin</a></h1>

    <div id="options-header" >
        
        <button id="add-book-btn" class="admin icon-img-btn"></button>
               <div id="nav-icon" class="icon">
            <span>
        
            </span><span>
        
            </span><span>
        
            </span>
        </div>
    </div>
</div>


</header>




