<div class="data-block">
  <span >
      Username:
  </span><span id="f-name">
  {{user.username}}
  </span>
</div>
{{#if user.birthday}}
<div class="data-block">
  <span>
      Birthday:
  </span><span id="birthday">
  {{user.birthday}}
  </span>
</div>
{{/if}}
<div class="data-block">
  <span>
      Email:
  </span><span id="email">
  {{user.email}}
  </span>
</div>