#modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  place-items: center;
}
#modal #book-modal {
  width: fit-content;
  height: fit-content;
  background-color: #555;
  color: #fff;
  padding: 3rem;
  position: relative;
}
#modal #book-modal form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}
#modal #book-modal form input {
  float: right;
}
#modal #close-modal {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
