* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

fieldset {
  background-color: rgb(13, 68, 60);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1rem;
  width: fit-content;
}

legend {
  text-align: right;
}

.modal {
  background-color: #333;
  color: white;
  height: 100vh;
  display: grid;
  place-items: center;
}

form {
  display: grid;
  place-items: center;
}

input {
  padding: 0.5rem;
  text-align: center;
}
input.error {
  outline: orange;
}

h1 {
  border-bottom: 1px solid white;
  width: 100%;
}

#form-options-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
#form-options-container button {
  cursor: pointer;
  border: none;
  background: none;
  color: white;
  text-decoration: underline;
}
#form-options-container button#log-form_switch-btn {
  display: none;
}

#register-form {
  display: none;
}

form input {
  position: relative;
}

.form-error-message {
  color: yellow;
  font-size: small;
  text-align: center;
}

input.error {
  outline: yellow 1px solid;
}
